<div class="all">
  <div class="login-box">
    <h2>Registrieren</h2>
    <form action="/register" method="POST">
      E-Mail:
      <input name="email" type="text" /><br />
      Passwort:
      <input name="passwort" type="password" /><br />
      <input type="submit" value="Registrieren" />
    </form>
  </div>
</div>