* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header,
footer {
  background-color: #74968e;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p,
h1 {
  margin-left: 2vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
  margin-top: 10%;
}
.allgemein {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #74968e;
  border-radius: 15px;
  width: 30vw;
  height: 100vh;
}

.box h1 {
  font-size: 24px;
}

header a {
  text-decoration: none;
}
.all {
  display: flex;
  justify-content: center;
}
.login-box {
  border-color: #74968e;
  border-width: 5px;
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10% 0;
  width: 70vw;
}
input {
  border-color: #74968e;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 5%;
  border-radius: 15px;
  padding: 5%;
}
.eingabe {
  margin-bottom: 5%;
}

.like {
  color: red;
}

.titel-like {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bild {
  width: 50%;
  height: 50%;
}

.kommentare {
  height: 100px;
  overflow-y: scroll;
}

.box img {
  width: 80%;
  height: auto;
}
